header{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(36,15,5,1) 0%, rgba(149,88,64,1) 86%);
    margin: -8px;
    margin-bottom: 0;
    color: #f5f5f5da;
    font-size: 15px;
}

body{
    background: linear-gradient(90deg, #240f05 0%, #955840 86%);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    padding-top: 0;
    border-bottom: #8e7c74 1px solid;
}
a{
    text-decoration: none;
    color: #f5f5f5da;
}
#nomes{
    color: #f5f5f5da;
}
